h1 {
  font-size: 13px;
}
h2 {
  font-size: 12px;
}
h3 {
  font-size: 11px;
}
.para1 {
  font-size: 10px;
}
.para2 {
  font-size: 10px;
  font-weight: bold;
  background-color: "#f4f4f4";
}
.para3 {
  padding: 10px;
  background: rgb(26, 240, 240);
  font-weight: bold;
}
